version: '3'
services:
  redis:
    image: "redis:alpine"
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    volumes:
      - ./db/redis:/data
  db:
    image: postgres
    restart: always
    env_file:
      - dev.vars
    volumes:
      - ./db/postgres:/var/lib/postgresql/data

  api:
    restart: always
    build: .
    env_file:
      - dev.vars
    environment:
      - RAILS_ENV=test
    command: bash -c "bin/rails db:environment:set RAILS_ENV=development && bundle exec rake db:create && rails s -p 3030 -b 0.0.0.0"
    # command: bash -c "sleep 10 && RAILS_ENV=development bundle exec rake db:create && RAILS_ENV=development rake db:migrate && RAILS_ENV=development bundle exec rake production:bootstrap && bundle exec rake assets:precompile && bundle exec rails s -p 3030 -b '0.0.0.0'" %>
    depends_on:
      - redis
      - db
    volumes:
        - shared-volume:/etc/mimo
    ports:
      - 3030:3030

volumes:
  shared-volume:
