version: '3'
services:
  redis:
    image: "redis:alpine"
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    volumes:
      - ./db/redis:/data
  db:
    image: postgres
    restart: always
    env_file:
      - dev.vars
    volumes:
      - ./db/postgres:/var/lib/postgresql/data

  api:
    restart: always
    image: "ohmimo/mimo-api:latest"
    env_file:
      - dev.vars
    command: bash -c "sleep 10 && bundle exec rake db:create && rake db:migrate && bundle exec rake production:bootstrap && bundle exec rake assets:precompile && bundle exec rails s -p 3030 -b '0.0.0.0'"
    depends_on:
      - redis
      - db
    volumes:
        - shared-volume:/etc/mimo
    ports:
      - 3030:3030

volumes:
  shared-volume:
