<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>MIMO Community Edition!</h1>
    <p>
      Someone requested a new setup code through your dashboard. If it wasn't you, please ignore this email.
    </p>
    <p>
      To complete your installation, click this link: <%= @url %>.
    </p>

    <p>You stay classy!</p>
  </body>
</html>
