%h1.card-title We've updated your settings

%p Please note you won't be able to access this wizard again.

%p In order to change your settings, you can do this in your dashboard.

%p Someone fix this text.

%p Also, you can now login to your dashboard here:

%p dashboard.xxxxxxxxxxxxxxxx
