%p We've updated your settings

Please note you won't be able to access this wizard again. 

In order to change your settings, you can do this in your dashboard.

Someone fix this text.

Also, you can now login to your dashboard here:

dashboard.xxxxxxxxxxxxxxxx
