%img.mimo-logo{:src => "/mimo-logo.svg"}/
.card
  %h1.card-title We've updated your settings

  %p
    %b Please note you won't be able to access this wizard again!
    Further changes can be made in your dashboard.

  %p You can now login to your dashboard:

  %p
    %a{:href => "#{ENV['MIMO_DASHBOARD_URL'] || 'missing'"} #{ENV['MIMO_DASHBOARD_URL'] || 'missing-url'}
